{% extends "adm/base.html" %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="row">
  <h2>Список с результатами работы старших смен</h2>
</div>
<div class="row">
  <div class="col-md-6">
    <table class="table">
  <thead>
    <tr>
      <th scope="col"><h6>#</h6></th>
      <th scope="col"><h6>Дата</h6></th>
      <th scope="col"><h6>Старший смены</h6></th>
      <th scope="col"><h6>Баллы</h6></th>
    </tr>
  </thead>
  <tbody>
  {% for shift in shift_list %}
    <tr>
      <th scope="row"> <a href="{% url 'result' shift.id%}"><h6>{{ shift.id }}</h6></a></th>
      <td><a href="{% url 'result' shift.id %}"><h6>{{ shift.date|date:"d M Y, H:i" }}</h6></a></td>
      <td><a href="{% url 'result' shift.id %}"><h6>{{ shift.user.name }}</h6></a></td>
      <td><a href="{% url 'result' shift.id %}"><h6>🔥 {{ shift.score }}</h6></a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
  </div>
</div>
<div class="row">
    {% bootstrap_pagination shift_list pages_to_show=5 %}
</div>
</div>


{% endblock %}